body{
    font-family: Arial;
    background-color: aqua;
}

.myInfo{
    background-color: tomato;
    width: 300px;
    padding: 40px;

    position: absolute;
    top:50%;
    left:50%; 
    transform: translate(-50%, -50%);
}
    
